.content {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-grow: 2;
	position: relative;
	overflow: hidden;

	@include media('<=tabletHorizontal') {
		min-height: 470px;
	}

	&__dust {
		position: absolute;
		bottom: 0;
		right: 0;
		max-width: 100%;

		@include media('<=desktop') {
			max-width: 70%;
		}
	}

	&__smoke {
		position: absolute;
		bottom: 0;
		left: 0;
		max-width: 100%;
	}

	&__text {
		align-self: flex-start;
		margin-top: 137px;
		margin-left: 110px;

		@include media('<=desktop') {
			margin-top: 63px;
			margin-left: 4.46vw;
		}

		@include media('<=1300px') {
			margin-top: 0.625em;
		}

		@include media('<=tablet') {
			position: absolute;
			margin-top: 0;
		}

		@include media('<=510px') {
			margin-left: 1.25em;
		}
	}

	&__title {
		font-weight: bold;
		@include scalable-font-size(28, 72, 1920);
		line-height: 72px;
		color: $accent;
		width: 437px;
		margin-bottom: 20px;

		@include media('<=desktop') {
			width: 411px;
		}

		@include media('<=1300px') {
			width: 31vw;
			line-height: 5vw;
		}

		@include media('<=tablet') {
			width: 48vw;
			margin-bottom: 0;
			line-height: 7vw;
		}

		@include media('<=510px') {
			width: 57vw;
			line-height: 9vw;
		}

		@include media('<=mobile') {
			width: 66vw;
		}
	}

	&__link {
		color: $textcolor;
		font-size: 12px;
		text-decoration: underline;
		position: relative;
		z-index: 5;

		@include media('<=tablet') {
			display: none;
		}

		&:hover {
			color: $textcolor;
		}

		&--mobile {
			position: absolute;
			bottom: 10px;
			right: 50%;
			transform: translate(43px);
			display: none;

			@include media('<=tablet') {
				display: block;
				z-index: 5;
			}
		}
	}

	&__attempts {
		font-weight: bold;
		@include scalable-font-size(14, 44, 1920);
		line-height: 72px;
		text-transform: uppercase;

		@include media('<=510px') {
			line-height: 36px;
		}

		& > span {
			color: $accent;
		}
	}

	&__cowboy {
		img {
			max-width: 100%;
		}

		@include media('<=tablet') {
			right: 10vw;
		}

		@include media('<=mobile') {
			position: absolute;
			bottom: 0;
			right: -35px;
			width: 249px;
			z-index: 1;
		}
	}
}

.wheel {
	max-width: 794px;
	max-height: 903px;
	position: relative;

	@include media('<=tablet') {
		width: 600px;
		left: 10vw;
	}

	@include media('<=mobile') {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 250px;
	}

  &__bg {
    position: relative;
		z-index: 3;
  }

	&__spinner {
    max-width: 81%;
		width: 100%;
    position: absolute;
		left: 50%;
		top: 8.5%;
		transform: translate(-50%, 0%);
		z-index: 6;
	}

	&__button {
		background: transparent;
		border: none;
		outline: none;
		padding: 4vw;
		margin: 0;
		text-transform: uppercase;
		font-family: $font-family;
		color: $black;
		@include scalable-font-size(14, 45, 1920);
		position: absolute;
		top: 44%;
		left: 50%;
		transform: translate(-50%, -50%);
		cursor: pointer;
    z-index: 10;
	}
}
