.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1.625em 2.45em;
	background: linear-gradient(180deg, $gradientStart 0%, $gradientBlack 100%);
	position: absolute;
	bottom: 0;
	left: 0;

	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 348px;
		background: url('../images/design/smoke.png') bottom no-repeat;
		background-size: contain;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 1;

		@include media('<=1300px') {
			bottom: 100%;
		}
	}

	@include media('<=1300px') {
		position: relative;
		flex-direction: column;
		align-items: center;
		background: $black;
	}

	@include media('<=mobile') {
		padding: 1.625em 1.45em;
	}

	&__section {
		flex-grow: 2;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		position: relative;
		z-index: 5;

		@include media('<=1300px') {
			padding-top: 1.25em;
		}

		& > a:not(:last-child) {
			margin-right: 0.625em;
		}

		&--payment {
			& > a:not(:last-child) {
				margin-right: 0.66em;
			}
		}

		&--trust {
			flex-grow: 1;

			@include media('<=1300px') {
				padding-top: 1.25em;
			}
		}

		&--socials {
			flex-grow: initial;

			@include media('<=1300px') {
				padding-top: 1.25em;
				padding-bottom: 1.25em;
			}

			& > a:not(:last-child) {
				margin-right: 1.25em;
			}
		}
	}
}
