.header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	background: linear-gradient(180deg, $black 13.02%, $gradientStart 100%);
	padding: 1.7em 3em;

	@include media('<=1300px') {
		flex-wrap: wrap;
	}

	@include media('<=tabletHorizontal') {
		padding: 1.7em 1.25em;
	}

	@include media('<=510px') {
		padding-top: 0.9em;
	}

	&__logo {
		display: block;
		max-width: 144px;
		margin-left: 0.75em;

		img {
			display: block;
			width: 100%;
			height: auto;
		}

		@include media('<=tablet') {
			margin-left: 1.25em;
		}

		@include media('<=510px') {
			max-width: 81px;
		}
	}

	&__info {
		font-weight: 700;
		font-size: 42px;
		line-height: 42px;
		text-align: center;
		white-space: nowrap;

		@include media('<=1224px') {
			@include scalable-font-size(14, 42, 1300);
			align-self: center;
			padding: 20px;
			margin: 0px auto;
			order: 3;
		}

		@include media('<=tabletHorizontal') {
			min-width: 0;
		}

		@include media('<=mobile') {
			padding: 10px;
		}

		&--yellow {
			color: $accent;
		}
	}

	&__sign {
		width: 147px;
		height: auto;
		margin-left: 10px;
		padding: 9px 0px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1.5px solid $accent;
		text-decoration: none;
		text-align: center;
		color: $accent;
		font-weight: bold;
		font-size: 17px;
		line-height: 17px;
		text-transform: uppercase;
		transform: skewX(-12deg);

		@include media('<=510px') {
			width: 126px;
			font-size: 14px;
			padding: 4px 0px 6px;
		}

		&:hover {
			text-decoration: none;
			color: $accent;
			background: $hoverBg;
			transition: 0.3s;
		}

		& > * {
			transform: skewX(12deg);
			font-size: inherit;
			line-height: inherit;
		}
	}
}
