.popup {
  display: none;
  position: absolute;

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $gradientBlack;
    display: flex;
    justify-content: center;
    align-items: center;
    will-change: transform;
    z-index: 10;
  }

  &__container {
    background: $black;
    padding: 2em;
    
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0px 0px 25px $accent;
    will-change: transform;
    z-index: 15;


  }

  &__content{
    padding: 2.08vw 5.2vw;
  }

  &__close {
    width: 0.9em;
    height: 0.9em;
    background: url('../images/design/close_popup.svg') center center no-repeat;
    background-size: contain;
    border: none;
    outline: none;
    padding: 0;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
  }

  

  &__title {
    @include scalable-font-size(16, 44, 1920);
    line-height: 3.75vw;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;

    
    
  }

  &__quantity {
    font-weight: bold;
    @include scalable-font-size(44, 120, 1920);
    line-height: 6.25vw;
    text-align: center;
    color: $accent;

    

  }

  &__spins {
    @include scalable-font-size(12, 24, 1920);
    line-height: 3.25vw;
    text-align: center;
    margin: 30px auto 20px;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    background: $accent;
    width: 18.8vw;
    height: 3.49;
    border: none;
    color: $black;
    font-weight: bold;
    @include scalable-font-size(14, 30, 1920);
    line-height: 3.49vw;
    text-align: center;
    text-transform: uppercase;
    transform: skewX(-12deg);
    z-index: 2;
    transition: $transition-default;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      color: $accent;
      background: $hoverBg;
      transition: 0.7s;
    }
    @include media('<=tablet') {
      width: 161px;
    }
  }

  &__btn-name {
    @include scalable-font-size(14, 30, 1920);
    transform: skewX(12deg);
    line-height: 1.927vw;
  }

  &__smoke {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &.is-open {
    display: block;
  }

  &[aria-hidden="false"] > &__overlay {
    animation: fadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }

  &[aria-hidden="false"] > &__container {
    animation: slideIn .3s cubic-bezier(0, 0, .2, 1);
  }

  &[aria-hidden="true"] &__overlay {
    animation: fadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }

  &[aria-hidden="true"] &__container {
    animation: slideOut .3s cubic-bezier(0, 0, .2, 1);
  }
}
