.popup {
  display: none;
  position: absolute;

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $gradientBlack;
    display: flex;
    justify-content: center;
    align-items: center;
    will-change: transform;
    z-index: 10;
  }

  &__container {
    background: $black;
    padding: 2em;
    width: 100%;
    max-width: 682px;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0px 0px 25px $accent;
    will-change: transform;
    z-index: 15;
  }

  &__close {
    width: 0.9em;
    height: 0.9em;
    background: url('../images/design/close_popup.svg') center center no-repeat;
    background-size: contain;
    border: none;
    outline: none;
    padding: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
  }

  &__title {
    font-size: 44px;
    line-height: 72px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__quantity {
    font-weight: bold;
    font-size: 120px;
    line-height: 120px;
    text-align: center;
    color: $accent;
  }

  &__spins {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin: 30px auto 20px;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    background: $accent;
    width: 361px;
    height: 67px;
    border: none;
    color: $black;
    font-weight: bold;
    font-size: 30px;
    line-height: 67px;
    text-align: center;
    text-transform: uppercase;
    transform: skewX(-12deg);
    z-index: 2;
    transition: $transition-default;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      color: $accent;
      background: $hoverBg;
      transition: 0.7s;
    }
  }

  &__btn-name {
    transform: skewX(12deg);
    line-height: 37px;
  }

  &__smoke {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &.is-open {
    display: block;
  }

  &[aria-hidden="false"] > &__overlay {
    animation: fadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }

  &[aria-hidden="false"] > &__container {
    animation: slideIn .3s cubic-bezier(0, 0, .2, 1);
  }

  &[aria-hidden="true"] &__overlay {
    animation: fadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }

  &[aria-hidden="true"] &__container {
    animation: slideOut .3s cubic-bezier(0, 0, .2, 1);
  }
}
