html {
	font-size: $font-size;
	font-family: $font-family;
	background: $black;
	color: $textcolor;
	line-height: 1.65;
}

#root {
  margin: 0;
	width: 100vw;
	min-width: 320px;
	min-height: 100vh;
	background: url('../images/design/background.jpg') center no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;

	@include media('<=tabletHorizontal') {
		justify-content: flex-start;
		min-height: auto;
	}
}

h1 {
	margin: auto;
	text-align: center;
	max-width: 90vw;
}

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

input,
textarea {
	outline: none;
	&:focus:required:invalid {
		border-color: red;
	}
	&:required:valid {
		border-color: green;
	}
}
